    .wrapper {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left; 
  }
  .container-header, 
  .container-main, 
  .container-footer, 
  .container-article{
    min-width: 1200px;
    display: flex;
    justify-content: center;
   }  
  .container-article {
    margin-bottom: 60px;
  }
  .container-header, 
  .container-footer,
  .container-article {
    background-color: #27273e;
    font-family: 'Gotham Pro', Arial, sans-serif;
    color: #ffffff;    
  }
  .header, .main-content, .footer, .form {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
  .container-header {
    max-height: 436px; 
    min-height: 77px;
    margin-bottom: 45px;     
  }
  .main-content {
    flex-direction: row;  
    margin-bottom: 57px;
    max-width: 1200px;
    flex-wrap: nowrap; 
  }
  .main-content__comments {
    margin-bottom: 49px;
  }
  .main-content__prices {
    margin-bottom: 70px;
  }
  .container-header__comments {
    margin-bottom: 46px;
  }
  .container-header__prices {
    margin-bottom: 32px;
  }
  .container-header__about {
    margin-bottom: 60px;
  }
  aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 23%;    
    margin-right: 19px;
    margin-left: 20px;
  }

  /*Основной контент*/
  /* Прячем звголовок и подсказки скринридера */
  h1, .page__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }