
  /*Хедер*/
  .header {
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center;
    padding-left: 20px;
    padding-right: 15px; 
       
  }  
  .heder__index {
    padding-top: 15px;
    overflow: hidden; 
  }
  .header-banner {
    min-width: 1200px;
    min-height: 398px; 
    margin-left: -20px; 
    
  }