
  /* Боковое меню */
  .menu {     
    width: 198px;  
}
  .menu__list {
    display: flex;    
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none; 
    margin: 0;
    padding: 0;
    padding-top: 5px;  
  }
   .menu__item {
    margin-bottom: 40px;
    width: 100%;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__list a {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
    margin-left: 15px;
    padding-left: 41px;    
  }
  .menu__list a:hover,
  .menu__list a:active {
    color: #ec1e79;
  }
  .menu__list-main::before {
    content: "";
    position: absolute;
    background-image: url(/img/main_icon.svg);
    background-repeat: no-repeat;
    bottom: 2px;
    left: 5px;
    height: 16px;
    width: 17px;    
  }
  .menu__list-main:hover::before,
  .menu__list-main:active::before {
    background-image: url(/img/main_icon_pink.png);
  }
  .menu__list-comments::before {
    content: "";
    position: absolute;
    background-image: url(/img/feed_icon.svg);
    background-repeat: no-repeat;
    bottom: -2px;
    left: 5px;
    height: 20px;
    width: 20px;
  }
  .menu__list-comments:hover::before,
  .menu__list-comments:active::before {
    background-image: url(/img/feed_icon_pink.png);
  }
  .menu__list-prices::before {
    content: "";
    position: absolute;
    background-image: url(/img/wallet_icon.svg);
    background-repeat: no-repeat;    
    bottom: -4px;
    left: 5px;
    height: 20px;
    width: 20px;
  }
  .menu__list-prices:hover::before,
  .menu__list-prices:active::before {
    background-image: url(/img/wallet_icon_pink.png);
  }