
  /* Боковое меню */
  .menu { 
    width: 42%;
    margin-left: 42px;
}
  .menu__prices {
    width: 57%;
    margin-left: 0; 
  }
  .menu__list {
    display: flex;    
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none; 
    height: 36px;
    margin: 0;
    padding: 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__list-main,
  .menu__list-comments,
  .menu__list-prices {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    padding-left: 36px;    
  }
  /* Для главной страницы */
  .menu__list-main__dark-bg:hover,
  .menu__list-comments__dark-bg:hover,
  .menu__list-prices__dark-bg:hover,
  .menu__list-main__dark-bg:active,
  .menu__list-comments__dark-bg:active,
  .menu__list-prices__dark-bg:active,
  .menu__list-main__active {
    color: #ec1e79;
  }
  .menu__list-main::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-menu.png);
    background-repeat: no-repeat;    
    background-position: -5px -62px;
    bottom: -1px;
    left: -1px;
    height: 16px;
    width: 17px;    
  }
  .menu__list-main__dark-bg:hover::before,
  .menu__list-main__dark-bg:active::before,
  .menu__list-main__active::before {      
    background-position: -10px -123px;
  }  
  .menu__list-comments::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-menu.png);
    background-repeat: no-repeat;  
    background-position: -5px -5px;
    bottom: -3px;
    left: -1px;
    height: 20px;
    width: 20px;
  }
  .menu__list-comments__dark-bg:hover::before,
  .menu__list-comments__dark-bg:active::before,
  .menu__list-comments__active::before {
    background-position: -9px -65px;
  }
  .menu__list-prices::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-menu.png);
    background-repeat: no-repeat;
    background-position: -4px -205px;  
    bottom: -3px;
    left: 1px;
    height: 20px;
    width: 20px;
  }
  .menu__list-prices__dark-bg:hover::before,
  .menu__list-prices__dark-bg:active::before,
  .menu__list-prices__active::before {
    background-position: -9px -173px;   
  }
  /* Для страниц Отзывов и Тарфиов */
  .menu__list-prices__white-bg,
  .menu__list-main__white-bg,
  .menu__list-comments__white-bg {
    color:#ec1e79;
  }
  .menu__list-prices__white-bg:hover,
  .menu__list-main__white-bg:hover,
  .menu__list-prices__white-bg:active,
  .menu__list-main__white-bg:active,
  .menu__list-comments__white-bg:hover,
  .menu__list-comments__white-bg:active,
  .menu__list-prices__active,
  .menu__list-comments__active {
    color: #221f1f;
  }
  .menu__list-prices__white-bg::before {
    background-position: -10px -173px;
  }
  .menu__list-prices__white-bg:hover::before,
  .menu__list-prices__white-bg:active::before,
  .menu__list-prices__active::before {
    background-position: -10px -147px;
  }  
  .menu__list-main__white-bg::before {
    background-position: -10px -122px;
  }
  .menu__list-main__white-bg:hover::before,
  .menu__list-main__white-bg:active::before {
    background-position: -10px -95px;
  }
  .menu__list-comments__white-bg::before {
    background-position: -10px -66px;
  }
  .menu__list-comments__white-bg:hover::before,
  .menu__list-comments__white-bg:active::before,
  .menu__list-comments__active::before{
    background-position: -10px -39px;
  }