
  /* Пагинация */

   .pagination {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  }
  .pagination-index {
    width: 83%;
    margin-bottom: 0;
  }
  .pagination-comments {
    width: 89%;
    margin-bottom: 60px;
  }
  .pagination p {    
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #656464;  
    text-align: center;
    margin: 0;
  }
  .page {
    align-self: center;
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;  
  }
  .page__item {  
    display: flex;
    justify-content: center;     
  }
  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #221f1f;
    text-align: center; 
    height: 25px;
    width: 25px;
    border-radius: 3px;      
  }  
  .page .page-link__active{
    background-color: #27273e;
    color: #ec1e79;
  } 
  .page .page-link:hover{
    color: #ec1e79;
  } 
  .page li:nth-child(1) a,
  .page li:nth-child(9) a {
    width: 20px;
    text-decoration: none;
    font-size: 30px;
    line-height: 24px;
    color: #221f1f; 
  }
  .page li:nth-child(9) .page__next {
    padding-left: 10px;
  }
  .page__previous {    
    opacity: 0.3;
  }