  .social-network {    
    min-height: 48px;
    /* margin-top: 10px;
    margin-right: 22px; */
  }
  .social-network__title {
    margin: 0;
    font-size: 14px;
    font-weight: bold; 
    line-height: 24.7px;
  }
  .social-network__list {
    display: flex;  
    min-height: 20px;
    list-style: none;
    margin: 0;
    padding-left: 3px;
  }
  .social-network__list li {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;    
  }
  .social-network__item {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d4d4d8;    
  }
  .social-network__list li:nth-child(1) a::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-social-network.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: -85px 2px;   
  }
  .social-network__list li:nth-child(2) a::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-social-network.png);
    background-repeat: no-repeat;
    background-position: 2px -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .social-network__list li:nth-child(3) a::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-social-network.png);
    background-repeat: no-repeat;
    background-position: -18px 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .social-network__list li:nth-child(4) a::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-social-network.png);
    background-repeat: no-repeat;
    background-position: -63px 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .social-network__list li:nth-child(5) a::before {
    content: "";
    position: absolute;
    background-image: url(/img/spritesheet-social-network.png);
    background-repeat: no-repeat;
    background-position: -42px 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .social-network__item:hover{
    background-color: #ec1e79;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }
  .social-network__list li:last-child {
    margin-right: 0;
  }  

  
  