
@font-face {
    font-family: 'Gotham Pro';
    src: url('/font/GothamPro-Bold.woff2') format('woff2'),
        url('/font/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('/font/GothamPro-LightItalic.woff2') format('woff2'),
        url('/font/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/font/GothamPro-Light.woff2') format('woff2'),
        url('/font/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Lt';
    src: url('/font/Roboto-Light.woff2') format('woff2'),
        url('/font/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto-Bold.woff2') format('woff2'),
        url('/font/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto-Regular.woff2') format('woff2'),
        url('/font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans.woff2') format('woff2'),
        url('/font/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-Bold.woff2') format('woff2'),
      url('/font/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;    
  }
  .container-header, 
  .container-main, 
  .container-footer {
    min-width: 1100px;
    display: flex;
    justify-content: center;
   }
  .container-header, 
  .container-footer {
    background-color: #27273e;
    font-family: 'Gotham Pro', Arial, sans-serif;
    color: #ffffff;
  }
  .header, .main-content, .footer {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
  }
  .container-header {
    max-height: 436px;      
  }
  .main-content {
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    background-color: rgba(220, 20, 60, 0.466);
     
  }
    
  /*Хедер*/
  .header {
    margin-top: 13px;
  }
  .logo {
    width: 99px;
    height: 51px;    
    margin-bottom: 13px;
    margin-right: 763px;
    margin-left: 19px;    
  }
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 51px;
    background-color: brown;    
  }  
  .contacts__phone {
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: normal;    
    color: #ffffff;    
  }
  .contacts__schedule {
    margin-right: 4px;
    margin-top: 2px;
    text-decoration: underline;
    opacity: 0.7;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    
  }
  .contacts__opening-hours {
    border: 1px solid red;
    z-index: 2;
  }
  .header-banner {
    min-width: 1100px;
    min-height: 359px;
    margin-top: -10px;
    }
  
  /*Основной контент*/
  
  h1,
  .page_sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .menu {    
    min-height: 100%;
    background-color: rgba(0, 255, 255, 0.589);
    padding-top: 52px;
}
  .menu__items {
    display: flex;
    flex-direction: column;
    list-style: none; 
    margin: 0;
       
  }
  .menu__items li {
    background-color: rgb(214, 212, 91);  
  }
  .menu__items a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.1;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
    margin-left: 15px;
    margin-right: 70px;
  }
  .menu__items .menu__items-main::before {
    content: "";
    position: absolute;
    background-image: url(/img/main_icon.svg);
    background-repeat: no-repeat;
    top: -3px;
    right: 89px;
    height: 15px;
    width: 17px;
  }
  .menu__items .menu__items-comments::before {
    content: "";
    position: absolute;
    background-image: url(/img/feed_icon.svg);
    background-repeat: no-repeat;
    top: -3px;
    right: 80px;
    height: 20px;
    width: 20px;
  }
  .menu__items .menu__items-price::before {
    content: "";
    position: absolute;
    background-image: url(/img/wallet_icon.svg);
    background-repeat: no-repeat;
    top: -3px;
    right: 80px;
    height: 20px;
    width: 20px;
  }
  .section-title {
    font-family: 'Gotham Pro';
    font-size: 49px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;    
    background-color: darkcyan;
  }
  .features .section-title {
    margin-top: 57px;
    margin-left: 2px;
    margin-bottom: 37px;
  } 
  .features {
    display: flex;
    align-items: flex-start;
    max-width: 865px;
    flex-direction: column;
    background-color: rgba(100, 148, 237, 0.473);
  }
  .features__list {
    display: flex;
    list-style: none;
    margin-left: 22px;
    background-color: rgba(212, 237, 100, 0.473);
    margin-bottom: 0;
  }
 
  .feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
   
   }
  .feature__item::before {
    content: "";
    background-image: url(1.png);
    height: 70px;
    width: 70px;
    border: 1px solid green;
    border-radius: 50%;
    background-color: #27273e;
  }
  .feature__desc {
    width: 205px;
    text-align: center; 
    margin-bottom: 15px; 
  }
  .feature__item:nth-child(1) {
    margin-right: 64px;
  }
  .feature__item:nth-child(2) {
    margin-right: 62px;
  }
  .feature__item:nth-child(1) {
    margin-left: -40px;
  }
  .feature__title {
    font-family: 'Gotham Pro';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.64;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    background-color: #27da1e;
  }
  .feature__desc,
  .feature__items {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #221f1f;
    list-style: disc;  
    margin-top: -11px;
    background-color: blueviolet;  
}
.feature__items{
  align-self: stretch;
  line-height: 1.9; 
  text-align: left;
  padding-left: 20px;
  }
.feature__items li{
  padding-left: -25px;
  text-indent: 18px;
}
.latest-news {
  max-width: 865px;
  background-color: burlywood;
}
.latest-news .section-title{
  margin-top: 68px;
  }
  .news__item {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
  text-align: left;
  color: #221f1f;
  }








  .page {
    display: flex;
    list-style: none;
  }
  .page a{
    text-decoration: none;
  }
  
  
  
  
  
  
  
  
  
  
  