  .partners {
    display: flex;    
    flex-direction: column;
    border: solid 1px #e8e9ed;
    padding-top:  23px;
    padding-bottom: 36px;
    margin-bottom: 23px;
  }
  .partners .section-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 46px;
  }
  .partners__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content: space-between;
    margin: 0;
    padding: 0;
  }
  .partners__item {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 45px;
  }
  .partners__item:last-child{
    margin-bottom: 0;
  }
  .partners__link {
    display: flex;
  }
  .partners__logo {
    filter: grayscale(1);
    opacity: 0.5;
  }
  .partners__link:hover .partners__logo {
    filter: none;
    opacity: 1;
  }
