  .feedback {
    width: 768px;
    height: 427px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .feedback .section-title {
    margin: 0;
    margin-bottom: 9px;
    line-height: 1.5;
  }
  .form { 
    font-family: 'Gotham Pro', Arial, sans-serif;
    border-radius: 3px;
    width: 100%;
    padding-left: 98px;
    padding-right: 95px;
    box-sizing: border-box;
  }
  .form__row {
    display: flex;    
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
  }
  .form__row:nth-child(2){
    margin-bottom: 20px;
  }
  .form-group {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: 15px;
    flex: 1;
  }
  .form-group:last-child {
    margin-right: 0;
  }  
  .form-group__input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 9px 15px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ec1e79;
  }  
  .form-group__input,
  .form-group__textarea {
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 9px 16px ;
  }
  .form-group__textarea {
    resize: vertical;
    height: 90px;
    width: 100%;
  }  
  .form-group__input::placeholder,
  .form-group__textarea::placeholder {
    color: rgba(34, 31, 31, 0.5);
    opacity: 0.5;
    font-family: inherit;
  }
  .form-group__input:focus,
  .form-group__textarea:focus {
    border: 1px solid #ec1e79;
  }
  .form-group__foto {
    height: 53px;
  }
  .form-group__foto p {
    margin: 0;
    margin-bottom: 10px;
  }
  .form-group__label {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #221f1f;
    margin-bottom: 6px;    
  }
  .form_button {
    padding: 0;
    border: none;    
    cursor: pointer;
    width: 139px;
    height: 45px;
    border-radius: 3px;
    background-color: #27273e;
    font-family: 'Gotham Pro';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.0;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 3px;
  }
  .form_button:hover {
    background-color: #ec1e79;
  }
  .form-group__foto .form-group__label-answer {
    margin-right: 5px;
  }
  .form-group_radio {
    position: absolute;
    left: -9999px;
  }
  .form-group_radio + .form-group__label-answer {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;  
  }
  .form-group_radio + .form-group__label-answer::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #c9c9c9;
    background-image: linear-gradient(to top, #ededed, #ffffff);
    border-radius: 50%;
  }
  .form-group_radio + .form-group__label-answer::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ec1e79;
    transition: all 0.2s ease;
  }
  input[type="radio"]:not(:checked) + label::after {
    opacity: 0;
}
  input[type="radio"]:checked + label::before {
    border: 1px solid #ec1e79;    
  }
  input[type="radio"]:checked + .form-group__label-answer {
    color: #ec1e79;
  }
  input[type="radio"]:checked + label::after {
    opacity: 1;
}